{% extends 'service/base.html' %}
{% block content %}
<h1 style='text-align: center;'>スタッフ検索</h1>
<div style="text-align: center;">
    <a href="{% url 'service:index' %}">TOPページに戻る</a>
</div>


<!-- 検索内容の入力 -->
<form id="search">
    <!-- 検索項目のループ start -->
    {% for item_key, item_value in item_dict.items %}
    <!-- label設定 -->
    <label for="{{item_key}}">{{item_value.called}}:</label>

    <!-- 検索項目が「選択」の場合 start -->
    {% if item_value.type|stringformat:"s" == "select" %}
    <select name="{{item_key}}" id="{{item_key}}" required>
        <!-- 選択内容のループ start -->
        {% for v_key, v_value in item_value.items %}
        {% if v_key|stringformat:"s" != "called" and v_key|stringformat:"s" != "type" %}
        <option value="{{v_key}}">{{v_value}}</option>
        {% endif %}
        {% endfor %}
        <!-- 選択内容のループ end -->
    </select>
    <!-- 検索項目が「数字入力」の場合 start -->
    {% elif item_value.type|stringformat:"s" == "number" %}
    <input type="number" name="{{item_key}}" id="{{item_key}}" />以下 (条件無しの場合、入力不要)
    <!-- 検索項目が「文字入力」の場合 start -->
    {% elif item_value.type|stringformat:"s" == "text" %}
    <input type="text" name="{{item_key}}" id="{{item_key}}" /> (条件無しの場合、入力不要)
    {% endif %}
    <!-- 検索項目の条件分岐 end -->

    <hr>
    {% endfor %}
    <!-- 検索項目のループ end -->

    <button type="submit">検索</button>
</form>

<section>
    <h2>検索結果</h2>
    <div id="result">
    </div>
</section>
<!-- 検索内容の入力 -->

<script>
    const searchElm = document.getElementById('search');
    const resultElm = document.getElementById('result');
    {% autoescape off %}
    const item_dict = {{ item_dict }};
    {% endautoescape %}


    searchElm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(searchElm);
        // https://zenn.dev/hathle/articles/django-fetch
        const getCookie = (name) => {
            if (document.cookie && document.cookie !== '') {
                for (const cookie of document.cookie.split(';')) {
                    const [key, value] = cookie.trim().split('=')
                    if (key === name) {
                        return decodeURIComponent(value)
                    }
                }
            }
        }
        const csrftoken = getCookie('csrftoken')

        const execSearch = async () => {
            const data = await fetch("/search_staff/result", {
                method: "POST",
                body: formData,
                headers: {
                    'X-CSRFToken': csrftoken,
                }
            })
            const result = await data.json();
            // DOM操作
            const child = document.createElement('div');
            // child.innerHTML = result.data;
            var add_child = '';

            // 検索内容を表示
            for (var key in result.data) {
                var key_name = '';
                var value_name = '';

                console.log(result.data[key])
                console.log(typeof (result.data[key]))

                // 対応する日本語に変更する
                for (var item_key in item_dict) {
                    if (key == item_key) {
                        // キーを日本語に変換
                        key_name = item_dict[key]['called']

                        // 選択内容に応じて日本語に変換
                        if (item_dict[key]['type'] == 'select') {
                            value_name = item_dict[key][result.data[key]]
                        } else if (item_dict[key]['type'] == 'number') {
                            value_name = result.data[key]
                        } else if (item_dict[key]['type'] == 'text') {
                            value_name = result.data[key]
                        } else {

                        }


                    } else {
                        continue;
                    }
                }
                add_child += '( ' + key_name + ' : ' + value_name + ' ) ';
            }
            child.innerHTML = '検索結果 : ' + result.number + '人 / 検索条件 : ' + add_child;
            resultElm.appendChild(child)
        }
        execSearch();
    });
</script>


{% endblock %}